<html>
  <head>
    <title>Joshua's Data Visualization Assignment</title>

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
      <h1 align="center">Public Expenditure on education per pupil as a % of GDP per capital level of education</h1>

    <div class="cell">
        <p class="main-text">
            In the bar plots below, what we see is the Public Expenditure on education per pupil as a % of GDP per capital level of education 
            from the years 2010-2019
        </p>
        <img src="{{ url_for('static', filename='images/DATA4.png') }}" width="70%" >
        <p>Standard Deviation: 2.284 <br>Variance: 5.221 <br>Range: 9.651</p>
        <img src="{{ url_for('static', filename='images/DATA5.png') }}" width="70%" >
                <p>Standard Deviation: 2.333 <br>Variance: 5.445 <br>Range: 8.891</p>
        <img src="{{ url_for('static', filename='images/DATA6.png') }}" width="70%" >
                <p>Standard Deviation: 2.227 <br>Variance: 4.961 <br>Range: 7.919</p>
        <img src="{{ url_for('static', filename='images/DATA7.png') }}" width="70%" >
                <p>Standard Deviation: 2.044 <br>Variance: 4.180 <br>Range: 7.466</p>
        <img src="{{ url_for('static', filename='images/DATA9.png') }}" width="70%" >
                <p>Standard Deviation: 2.138 <br>Variance: 4.572 <br>Range: 7.452</p>
        <img src="{{ url_for('static', filename='images/DATA8.png') }}" width="70%" >
                <p>Standard Deviation: 2.199 <br>Variance: 8.834 <br>Range: 9.914</p>
        <img src="{{ url_for('static', filename='images/DATA10.png') }}" width="70%">
                <p>Standard Deviation: 2.334 <br>Variance: 5.450 <br>Range: 10.652</p>
        <img src="{{ url_for('static', filename='images/DATA11.png') }}" width="70%">
                <p>Standard Deviation: 2.192 <br>Variance: 4.807 <br>Range: 9.760</p>
        <img src="{{ url_for('static', filename='images/DATA12.png') }}" width="70%">
                <p>Standard Deviation: 2.140 <br>Variance:4.902 <br>Range: 8.988</p>
        <img src="{{ url_for('static', filename='images/DATA13.png') }}" width="70%">
                <p>Standard Deviation: 2.355 <br>Variance: 5.545 <br>Range: 9.480</p>



      </div>



      </div>

  </body>
</html>